# webapp libs
Flask>=0.12.1
Flask-Login>=0.4.0
Flask-Migrate>=2.0.3
sqlalchemy>=1.1.9

# because simplejson is better than built in json and flask uses it
simplejson>=3.10.0

# eve online ESI lib
esipy>=0.1.3
